extends ../layouts/app.pug

block content
    .container.pt-5
        div.card.panel
            div.card-header.panel-heading.bg-danger
                h4.card-title.panel-title Error 404 | Page Not Found
            div.card-block.p-2
                a.btn.btn-primary(href="/") Go Homepage