extends ../../layouts/app

block styles
    link(href='/css/example.css', rel='stylesheet')

block content
    .container
        h1.mt-3 Email Validation
        p.mt-3
            | Please signin to use our Email Validation Extension.

block scripts
    script(src="/js/example.js")

