extends ../../layouts/app

block content
    .container
        div.col-md-4.col-md-offset-4
            div.innter-form
                form.sa-innate-form(method="post", action="/auth/local-sign-up")
                    label Name
                    input(type="text", name="name" value=user.name)
                    label   Email Address
                    input(type="text", name="email" value=user.email disabled)
                    label Old Password
                    input(type="password", name="oldpassword")
                    label Password
                    input(type="password", name="password")
                    label Confirm Password
                    input(type="password", name="confirmPassword")
                    button.btn-fb-blue(type="submit") Update