PORT = 3000
MONGO_URL = mongodb://<username>:<password>@aa11111.mlab.com:1111/<dbname>
APP_URL = http:########
SESSION_SECRET = #####################################
GOOGLE_CLIENT_ID=#############################################.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=########################
