doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title=title
        link(rel='stylesheet', href='/css/bootstrap.min.css', id="bootstrap-css")
        link(rel = "stylesheet", href = "/css/fontawesome-all.min.css")
        link(rel='stylesheet', href='/css/style.css', )
        link(rel="icon", href="/images/favicon.png", type="image/png")
        script(src="//code.jquery.com/jquery-1.11.1.min.js")
        script(src="/js/bootstrap.min.js")
        block styles
